@media only screen and (max-width: 300px) {

  #app,
  .input-box,
  .label,
  .description-box,
  .modal-content,
  .model,
  .button,
  .submit-btn,
  .update-btn,
  .add-post,
  .list {
    width: 100%;
  }
}

/* Login Styling - Kayleigh */

/* Start page login button postitioning - Kayleigh */
.button-group {
  z-index: 151;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

/* Start Page Text Styling */
.button-group h2 {
  font-family: Arial, Helvetica, sans-serif;
  color: white;
  text-shadow: 4px 4px 10px rgba(0, 0, 0, 0.5);
  font-size: 1.64rem;
}

/* Start Page Logo Sizing and Positioning */
.light-bulb {
  height: 5em;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/* Start page login button styling - Kayleigh */
.login-button {
  border: none;
  background-color: #BF00FF;
  color: #fff;
  padding: 0.5em 1em;
  font-size: 1.5em;
  font-weight: 600;
  border-radius: 15px;
  cursor: pointer;
  margin: 0.5em 0.5em;
  box-shadow: 4px 9px 10px -1px rgba(0, 0, 0, 0.35);
}

/* Start page login button hover styling - Kayleigh */
.login-button:hover {
  background-color: #FAEF59;
  color: #BF00FF;
}

/* Signup hyperlink styling - Kayleigh */
.signup-button {
  border: none;
  background-color: #BF00FF;
  color: #fff;
  padding: 0.5em 1em;
  font-size: 1.5em;
  border-radius: 15px;
  cursor: pointer;
  margin: 0.5em 0.5em;
  box-shadow: 4px 9px 10px -1px rgba(0, 0, 0, 0.35);
}

/* Signup hyperlink hover styling - Kayleigh */
.signup-button:hover {
  background-color: #11F9CF;
  color: #BF00FF;
}

/* Login form styling/positioning - Kayleigh */
.home {
  position: absolute;
  height: 100vh;
  width: 100%;
  background: rgb(255, 255, 255);
  background: linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(17, 249, 207, 1) 100%);
  background-size: cover;
  background-position: center;
  font-family: Arial, Helvetica, sans-serif;
}

/* Sign in form container styling/poistioning - Kayleigh */
.form-container {
  z-index: 152;
  max-width: 20em;
  width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  padding: 2em;
  border-radius: 15px;
  box-shadow: 4px 9px 10px -1px rgba(0, 0, 0, 0.35);
  opacity: 0;
  pointer-events: none;
}

/* Visibilty class for JavaScript - Kayleigh */
.home.show .form-container {
  opacity: 1;
  pointer-events: auto;
}

/* Visibilty class for JavaScript - Kayleigh */
.temp.hide {
  display: none;
}

/* Sign in Close button styling - Kayleigh */
.form-close {
  position: absolute;
  top: 10px;
  right: 20px;
  color: #aaaaaa;
  font-size: 2em;
  font-weight: bold;
  cursor: pointer;
}

/* Sign in Close button hover styling - Kayleigh */
.form-close:hover {
  color: #000;
}

/* Login Title Styling and Positioning - Kayleigh */
.form-container h4 {
  margin-top: 8px;
  font-size: 1.5em;
  color: #000;
  text-align: center;
}

/* Text Box for sign in form sizing - Kayleigh */
.input-form {
  position: relative;
  margin-top: 20px;
  width: 100%;
  height: 40px;
}

/* Text Box for sign in form sizing and styling - Kayleigh */
.input-form input {
  height: 100%;
  width: 80%;
  border: none;
  outline: none;
  padding: 0 30px;
  color: #333;
  border: 1.5px solid #d1d6dc;
  border-radius: 15px;
}

/* Text Box for sign in form when clicked styling - Kayleigh */
.input-form input:focus {
  border-color: #BF00FF;
}

/* Positioning for icons used in sign in form - Kayleigh */
.input-form span {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 20px;
}

/* Styling for icons used in sign in form - Kayleigh */
.input-form span.email,
.input-form span.lock {
  left: 5px;
  color: #a2a5aa;
}

/* Styling when clicked for icons used in sign in form - Kayleigh */
.input-form input:focus~span.email,
.input-form input:focus~span.lock {
  color: #BF00FF;
}

/* Remember Me & Forgot password positioning - Kayleigh */
.option-field {
  margin-top: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* Forgot Password? styling - Kayleigh */
.form-container a {
  color: #BF00FF;
  text-decoration: none;
  font-size: 12px;
}

/* Forgot Password? hover styling - Kayleigh */
.form-container a:hover {
  text-decoration: underline;
}

/* Remember Me check box sizing - Kayleigh */
.checkbox {
  display: flex;
  column-gap: 8px;
  white-space: nowrap;
}

/* Remember Me checked colour - Kayleigh */
.checkbox input {
  accent-color: #BF00FF;
}

/* Remember Me text styling - Kayleigh */
.checkbox label {
  font-size: 12px;
  cursor: pointer;
  padding-top: 3px;
  user-select: none;
  color: #0b0217;
}

/* Login form button styling and positioning - Kayleigh  */
.form-container .login {
  background-color: #BF00FF;
  color: #fff;
  border: none;
  padding: 0.75em 1em;
  margin-top: 20px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 40%;
  border-radius: 15px;
  cursor: pointer;
  font-weight: 600;
}

/* Login form button hover styling - Kayleigh  */
.form-container .login:hover {
  background-color: #11F9CF;
  color: #BF00FF;
}

/* Don't have an account? sizing and positioning */
.login-signup {
  font-size: 12px;
  text-align: center;
  margin-top: 10px;
}

/* Login Styling End - Kayleigh */


/* App styling - Penelope */
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: black;
  margin: auto 2%;
  padding: 1%;
  border-radius: 15px;
  background-color: #BF00FF;
}

/* Input box goes here */
.input-box {
  width: 93%;
  padding: 0.3rem 0.6rem;
  font-size: 1rem;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: 15px;
  margin-bottom: 5px;
}

/* Label goes here */
.label {
  font-size: inherit;
  line-height: 1.5;
}

/* description box goes here */
.description-box {
  width: 93%;
  padding: 0.3rem 0.6rem;
  font-size: 1rem;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: 15px;
}

/* Tag-line goes here - Penelope added */
#tag-line {
  font-weight: bold;
  color: #11F9CF;
}

/* Button - Penelope */
.button {
  color: white;
  font-size: 0.9rem;
  float: right;
  cursor: pointer;
  border: none;
  background: #BF00FF;
  padding: 10px 15px;
  font-weight: 700;
  line-height: 1em;
  margin-right: 5px;
  border-radius: 15px;
  box-shadow: 3px 3px 3px -1px rgba(0, 0, 0, 0.35);
}

/* Submit Button - Penelope */
.submit-btn {
  color: white;
  font-size: 0.9rem;
  cursor: pointer;
  border: none;
  background: #BF00FF;
  padding: 10px 15px;
  font-weight: 700;
  line-height: 1.3em;
  margin: 10px 7px 0 0;
  border-radius: 15px;
  box-shadow: 3px 3px 3px -1px rgba(0, 0, 0, 0.35);
}

/* Submit button Yes - Penelope */
.submit-btn-yes {
  color: white;
  font-size: 0.9rem;
  cursor: pointer;
  border: none;
  background: #FF0000;
  padding: 10px 15px;
  font-weight: 700;
  line-height: 1.3em;
  margin: 10px 7px 0 0;
  border-radius: 15px;
  box-shadow: 3px 3px 3px -1px rgba(0, 0, 0, 0.35);
}

.submit-btn-no {
  color: white;
  font-size: 0.9rem;
  cursor: pointer;
  border: none;
  background: #BF00FF;
  padding: 10px 15px;
  font-weight: 700;
  line-height: 1.3em;
  margin: 10px 7px 0 0;
  border-radius: 15px;
  box-shadow: 3px 3px 3px -1px rgba(0, 0, 0, 0.35);
}

/* Update Button - Penelope */
.update-btn {
  color: white;
  font-size: 0.9rem;
  cursor: pointer;
  border: none;
  background: #BF00FF;
  padding: 10px 15px;
  font-weight: 700;
  line-height: 1.3em;
  margin: 10px 0 0 0;
  border-radius: 15px;
  box-shadow: 3px 3px 3px -1px rgba(0, 0, 0, 0.35);
}

/* Update button hover goes here - Cynta */
.update-btn:hover {
  background: #11F9CF;
  color: #BF00FF;
}

/* Submit button hover goes here - Cynta */
.submit-btn:hover {
  background: #11F9CF;
  color: #BF00FF;
}


/* button hover goes here - Cynta */
.button:hover {
  background: #11F9CF;
  color: #BF00FF;
}

/* Add post goes here - Penelope */
.add-post {
  color: #FAEF59;
  font-size: 1rem;
  float: right;
  cursor: pointer;
  border: none;
  background: #BF00FF;
  padding: 13px 20px;
  font-weight: 600;
  line-height: 1em;
  border-radius: 15px;
}

/* Add post hover goes here - Cynta */
.add-post:hover {
  background: #FAEF59;
  color: #BF00FF;
}

/* Log Out goes here - Kayleigh */
.log-out {
  color: white;
  font-size: 1rem;
  float: right;
  cursor: pointer;
  border: none;
  background: #BF00FF;
  padding: 13px 20px;
  font-weight: 600;
  line-height: 1em;
  border-radius: 15px;
}

/* Log out hover goes here - Kayleigh */
.log-out:hover {
  background: #11F9CF;
  color: #BF00FF;
}

/* list goes here - Cynta*/
.list {
  margin: 15px 5px;
  background: white;
  padding: 10px;
  border-radius: 15px;
  pointer-events: auto;
  box-shadow: 4px 9px 10px -1px rgba(0, 0, 0, 0.35);
}

/* Prevents box-shadow appearing in the view post popup - Kayleigh*/
.modal-content .list {
  box-shadow: none;
}

h3,
h4,
p {
  margin: 5px 0 5px 0;
}

/* Modal content goes here - Cynta */
.modal-content {
  background-color: #f6f6f6;
  margin: 1% 5%;
  padding: 10px;
  border: 1px solid #888;
  pointer-events: auto;
  background-clip: padding-box;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 15px;
}

/* close */
.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

/* modal */
.modal {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.6);
  overflow-x: hidden;
  overflow-y: auto;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

/* Outline matching for text boxes- Kayleigh */
#name {
  outline: none;
}

/* Outline matching for text boxes- Kayleigh */
#name:focus {
  border-color: #BF00FF;
}

/* Outline matching for text boxes- Kayleigh */
#comment {
  outline: none;
}

/* Outline matching for text boxes- Kayleigh */
#comment:focus {
  border-color: #BF00FF;
}

/* Outline matching for text boxes- Kayleigh */
#userName {
  outline: none;
}

/* Outline matching for text boxes- Kayleigh */
#userName:focus {
  border-color: #BF00FF;
}

/* Outline matching for text boxes- Kayleigh */
#title {
  outline: none;
}

/* Outline matching for text boxes- Kayleigh */
#title:focus {
  border-color: #BF00FF;
}

/* Outline matching for text boxes- Kayleigh */
#body {
  outline: none;
}

/* Outline matching for text boxes- Kayleigh */
#body:focus {
  border-color: #BF00FF;
}

/* Footer Styling - Penelope */
footer {
  margin: auto 2%;
  padding-top: 3px;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
}